
<div class="main_container">

  <div class="col-md-3 left_col fixed">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="javascript:void(0)" class="site_title"> <span>Blog CMS</span></a>
      </div>
      <div class="clearfix"></div>


      <!-- menu profile quick info -->
      <div class="profile">
        <div class="profile_pic">
          <%= image_tag "default/avatar.png", :class => "img-circle profile_img"  %>
        </div>
        <div class="profile_info">
          <span><%= current_user.username %></span>

        </div>
      </div>
      <!-- /menu profile quick info -->

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu m-t-lggg">

        <div class="menu_section">
          <ul class="nav side-menu">
            <% if current_user.admin? %>
              <li><a href="<%= admin_users_path %>"><i class="fa fa-user"></i> Accounts <span class="fa fa-chevron-down"></span></a></li>
            <% end %>
            <li><a href="<%= admin_posts_path %>"><i class="fa fa-newspaper-o"></i> Posts <span class="fa fa-chevron-down"></span></a></li>
          </ul>
        </div>

      </div>
      <!-- /sidebar menu -->

    </div>
  </div>
