<!--<div class="row">-->
<!--  <div class="col-xs-5">-->
<!--    <textarea id="commands" style="text-align: center; height: 500px" value=""></textarea>-->
<!--  </div>-->
<!--  <div class="col-xs-2"><button type="button" id="submit">Submit</button></div>-->
<!--  <div class="col-xs-5"><div id="res" style="text-align: center"/></div>-->
<!--</div>-->
<div style="display: flex">
  <textarea id="commands" style="text-align: right; width: 500px; height: 100vh; padding-right: 20px" value=""></textarea>
  <button type="button" id="submit">Submit</button>
  <br>
  <div id="res" style="text-align: left; padding-left: 20px"/>
</div>
<% content_for :more_js do  %>
    <script>
      $(function(){

        $("#submit").on('click', function(e){
          $.ajax({
            method: "POST",
            dataType: "json",
            beforeSend: function(xhr) {
              xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: "<%= ajax_staking_path %>",
            data: { commands: $("#commands").val() },
            success: function(g) {
              console.log(g)
              $("#res").html(g.data.join(" <br> "))
            }
          })
        });
      })
    </script>
<% end %>


