<!--<div class="row">-->
<!--  <div class="col-xs-5">-->
<!--    <textarea id="commands" style="text-align: center; height: 500px" value=""></textarea>-->
<!--  </div>-->
<!--  <div class="col-xs-2"><button type="button" id="submit">Submit</button></div>-->
<!--  <div class="col-xs-5"><div id="res" style="text-align: center"/></div>-->
<!--</div>-->
<div style="display: flex">
  <textarea id="commands" style="text-align: right; width: 500px; height: 100vh; padding-right: 20px">
    2000 1000
        stake 900 500 mike
        getStake 0 mike
        getStake 1 mike
        stake 1000 500 victor
        stake 1001 1200 loi
        stake 1001 500 mike
        withdraw 1002 200 mike
        getStake 1 mike
        getStake 2 mike
        vote 1002 1 mike
        vote 1003 1 victor
        vote 1004 1 loi
        getReward 1 mike
        getReward 1 victor
        getReward 1 loi
        delegate 1005 loi victor
        getDelegatedStake 1 victor
        getDelegatedStake 2 victor
        getRepresentative 1 loi
        getRepresentative 2 loi
        vote 3000 2 mike
        vote 3001 2 victor
        getReward 2 mike
        getReward 2 victor
        getPoolReward 2 loi
        getPoolReward 2 victor
        getPoolReward 2 mike
        vote 3002 3 mike
        getReward 2 mike
        getReward 2 victor
        withdraw 3003 200 mike
        getReward 2 mike
        getReward 2 victor
        vote 19001 2 victor
        getReward 10 victor</textarea>
  <button type="button" id="submit">Submit</button>
  <br>
  <div id="res" style="text-align: left; padding-left: 20px"/>
</div>
<% content_for :more_js do  %>
    <script>
      $(function(){

        $("#submit").on('click', function(e){
          $.ajax({
            method: "POST",
            dataType: "json",
            beforeSend: function(xhr) {
              xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: "<%= ajax_staking_path %>",
            data: { commands: $("#commands").val() },
            success: function(g) {
              console.log(g)
              $("#res").html(g.data.join(" <br> "))
            }
          })
        });
      })
    </script>
<% end %>


