<%= render partial: "admin/"+ controller_name + "/list", locals: {records: @records } %>
<div class="row">
  <div class="col-xs-2 col-xs-offset-10">
    <%= link_to send("new_admin_#{controller.controller_name.singularize}_path"),  :class => "form-control btn btn-default" do %>
      <i class="fa fa-plus fa-fw m-r-xs"></i> <%= t("common.create") %>
    <% end%>
  </div>
</div>