<div class="row">
  <div class="p-a-xs b-b position-relative">
    <%= link_to send("new_admin_#{controller.controller_name.singularize}_path"),remote: true,  :class => "form-control btn btn-default" do %>
      <i class="fa fa-plus fa-fw m-r-xs"></i> <%= t("common.create") %>
    <% end%>
  </div>
  <%= render partial: "admin/"+ controller_name + "/list", locals: {records: @records } %>
</div>