.kanox{
  .blog_item{
    .blog_item_img{
      .card-img{
        height: 365px;
        object-fit: cover;
      }
    }
  }
  .img_1{
    width: 457px;
    height: 542px;
    object-fit: cover;
  }
  .img_2{
    width: 360px;
    height: 384px;
    object-fit: cover;
  }
  //.demo_img img{
  //  height: auto;
  //  object-fit: cover;
  //}
}