
.hide{
  display: none!important;
}
.invisible{
  visibility: hidden!important;
}

.right_col{
  min-height: 1500px !important
}
.not-active {
  pointer-events: none;
  cursor: default;
}
.height-full-vh{
  height: 100vh
}
.width-full-vh{
  width: 100vh
}
.align-center{
  text-align: center;
}
.login{
  background: #F7F7F7
}
.login .nav_menu{
  border: none;
}
.login .container{
  padding:10rem
}
.login footer{
  width: 100%;
  margin-left: 0px;
}
small {
  font-size: 90%;
}
.block{
  display: block
}
.fixed{
  position: fixed!important;
}
.absolute{
  position: absolute!important;
}
.left{
  float: left
}
.right{
  float: right
}
.m-0{
  margin: 0rem!important;
}

.p-0{
  padding: 0rem!important;
}
.m-a {
  margin: 1rem!important;
}
.m-r-lg {
  margin-right: 3rem!important;
}
.m-x-lg {
  margin-right: 3rem!important;
  margin-left: 3rem!important;
}
.m-l-lg {
  margin-left: 3rem!important;
}
.m-t-lg {
  margin-top: 3rem!important;
}
.m-t-lgg {
  margin-top: 6rem!important;
}
.m-t-lggg {
  margin-top: 9rem!important;
}
.m-y-lg {
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
}
.m-b-lg {
  margin-bottom: 3rem!important;
}
.m-a-lg {
  margin: 3rem!important;
}
.m-r-md {
  margin-right: 1.5rem!important;
}
.m-x-md {
  margin-right: 1.5rem!important;
  margin-left: 1.5rem!important;
}
.m-l-md {
  margin-left: 1.5rem!important;
}
.m-t-md {
  margin-top: 1.5rem!important;
}
.m-y-md {
  margin-top: 1.5rem!important;
  margin-bottom: 1.5rem!important;
}
.m-b-md {
  margin-bottom: 1.5rem!important;
}
.m-a-md {
  margin: 1.5rem!important;
}
.m-r-sm {
  margin-right: .5rem!important;
}
.m-x-sm {
  margin-right: .5rem!important;
  margin-left: .5rem!important;
}
.m-l-sm {
  margin-left: .5rem!important;
}
.m-t-sm {
  margin-top: .5rem!important;
}
.m-y-sm {
  margin-top: .5rem!important;
  margin-bottom: .5rem!important;
}
.m-b-sm {
  margin-bottom: .5rem!important;
}
.m-a-sm {
  margin: .5rem!important;
}
.m-r-xs {
  margin-right: .25rem!important;
}
.m-x-xs {
  margin-right: .25rem!important;
  margin-left: .25rem!important;
}
.m-l-xs {
  margin-left: .25rem!important;
}
.m-b-xs {
  margin-bottom: .25rem!important;
}
.m-a-xs {
  margin: .25rem!important;
}
.p-a {
  padding: 1rem!important;
}
.p-r-lg {
  padding-right: 3rem!important;
}
.p-x-lg {
  padding-right: 3rem!important;
  padding-left: 3rem!important;
}
.p-l-lg {
  padding-left: 3rem!important;
}
.p-t-lg {
  padding-top: 3rem!important;
}
.p-y-lg {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}
.p-b-lg {
  padding-bottom: 3rem!important;
}
.p-a-lg {
  padding: 3rem!important;
}
.p-r-md {
  padding-right: 1.5rem!important;
}
.p-x-md {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}
.p-l-md {
  padding-left: 1.5rem!important;
}
.p-t-md {
  padding-top: 1.5rem!important;
}
.p-y-md {
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}
.p-b-md {
  padding-bottom: 1.5rem!important;
}
.p-a-md {
  padding: 1.5rem!important;
}
.p-r-sm {
  padding-right: .5rem!important;
}
.p-x-sm {
  padding-right: .5rem!important;
  padding-left: .5rem!important;
}
.p-l-sm {
  padding-left: .5rem!important;
}
.p-t-sm {
  padding-top: .5rem!important;
}
.p-y-sm {
  padding-top: .5rem!important;
  padding-bottom: .5rem!important;
}
.p-b-sm {
  padding-bottom: .5rem!important;
}
.p-a-sm {
  padding: .5rem!important;
}
.p-r-xs {
  padding-right: .25rem!important;
}
.p-x-xs {
  padding-right: .25rem!important;
  padding-left: .25rem!important;
}
.p-l-xs {
  padding-left: .25rem!important;
}
.p-t-xs {
  padding-top: .25rem!important;
}
.p-y-xs {
  padding-top: .25rem!important;
  padding-bottom: .25rem!important;
}
.p-b-xs {
  padding-bottom: .25rem!important;
}
.p-a-xs {
  padding: .25rem!important;
}
.padding {
  padding: 1.5rem;
}
.padding-xs {
  padding: 0.5rem;
}
.pointer a:hover{
  background: #E7E7E7;
}
.pointer a:focus{
  background: #E7E7E7;
}
.pointer a:active{
  background: #E7E7E7;
}
span.send, span.save, span.delete{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 3px;
}

.upload-preview {
  .image-preview {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #E5EBF4;
    background-repeat: no-repeat;
    color: #293B5A;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }

  .image-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
  }
  .image-preview label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 100%;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
  }
}

@import "kanox";

.kanox .home{
  .blog_item {
    // height: 100px;
    .blog_item_img .card-img {
      height: 100px;
    }

    .blog_details{
      padding: 30px 30px 10px 35px;
    }
  }
  .pagination>nav{
    width: 100%;
  }
}